@import 'mixins';
.advantages{
    position: relative;
    background-color: #57076b;
    margin-top: -10rem;
    -webkit-mask-image: url('../assets/mask.png');
    mask-image: url('../assets/mask.png');
    // -webkit-mask-size: cover;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-size: 100%;
    mask-size: cover;
    overflow: hidden;
    padding: 22% 0 100px 0;
    margin-top: -22%;
    @media screen and (max-width:1065px) {
        margin-top: -30%;
        padding-top: 300px;
    }
    @include media('max','md'){
        margin-top: -60%;
        // padding-top: 300px;
    }
    @media screen and (max-width:365px) {
        margin-top: -80%;
        // padding-top: 300px;
    }

    .title{
        padding-top: 100px;
    }

     .container{
        padding-top: 100px;
     }
}
.bottom{
    position: absolute;
    width: 4%;
    left: 91%;
    top: 50%;
    transform: translate(0,-50%);
    // z-index: 1;
    @media screen and (max-width:650px) {
        visibility: hidden;
    }
}
.cards{
    padding-top: 100px;
    justify-items: center;
   
}
.card{
    background-color: #cfbc34;
    // margin: 50px;
    max-width: 500px;
    border-radius: 60px;
}

.card__image{
    height: 400px;
    // width: 300px;    
}
.xx{
    width: 330px;

}


.powered{
    margin: 200px 0  0 0px ;
}
.powered__inner{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3; 
}
.sol{
    max-width: 80px;
    padding-right: 5px;
    @include media('max','md'){
        max-width: 50px;
    }
}
.prd__img{
    width: 400px;
    z-index: 2;
    @include media('max','md'){
        width: 300px;
    }
}
.powered__text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
      z-index: 3;
}
.txt{
    background: linear-gradient(224deg, #0DF3A8 0%, #7983D5 50%, #D725FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // font-weight: bold;
    position: relative;
  
}
.chain{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;
    min-width: 100vw;
    // height: 20px;
    @include media('max','sm'){
        min-width: 200vw;
    }
    
}


.sup_txt2::after{
    position: absolute;
    background-image: url('../assets/Vector\ 20.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: 30rem;
    // top: 100%;
    width: 100%;
    // transform: rotate(deg);
  
  }


  .sup_txt3::after{
    position: absolute;
    background-image: url('../assets/Vector\ 26.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: 30rem;
    top: 140%;
    width: 100%;
  
  
  }

  .sugar::after{
    background-image: url('../assets/sug.webp');
    background-position: top;
    background-size: 100%;
    position: absolute;
    display: block;
    height: 30rem;
    left: -15%;
    top: -100%;
    width: 20%;
    z-index: 1;
    background-repeat: no-repeat;
    content: '';
    @media screen and (max-width:1700px) {
        left: 0%;
        top: -100%;
    }
    @include media('max','lg'){
        width: 30%;
        top: -70%;
    }
    @include media('max','sm'){
        width: 40%;
        top: -70%;
        left: 50%;
        transform: translate(-50%);
    }
    @include media('max','xs'){
        width: 60%;
     
    }
  }