@import 'mixins';
.bgi{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.heightIssue{
    height: 100% !important;
    background-color: aquamarine;
     background-image: url(../assets/bg.png);
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    .plates{
        top: 0;
        position:relative;
        transform: translate(0,-1%);
    }
}
.how__to__buy{
    padding: 100px 0;
    position: relative;
    width: 100vw;
    height: 100vh;
   
    @include media('max','sm'){
        height: 100%;
        background-color: aquamarine;
         background-image: url(../assets/bg.png);
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    }

    @media screen and (max-height:850px) {
        padding: 50px 0 100px 0;
    }
    @media screen and (max-height:680px) {
        padding: 10px 0 100px 0;
    }
}
.buy__title{
    z-index: 10;
    position: relative;
    
}
.plates{
    width: 100%;
    top: 85%;
    position: absolute;
    transform: translate(0,-110%);
    @include media('max','xl'){
        top: 100%;
    }

    @include media('max','sm'){
        top: 0;
        position:relative;
        transform: translate(0,0);
    }
}
.plate{
    z-index: 3;
    background-image: url(../assets/plank.png);

    background-repeat: no-repeat;
    background-size: contain;
    height: 25rem;
    padding: 3.875rem 1.3rem 8.125rem 1.1rem;
    position: relative;
    width: 17.8125rem;
    @include media('max','sm'){
       
    }
    // position: relative;
  
    .text__block{
        // position: absolute;
        
        text-align: center;
        // max-width: 16rem;
    }
    .plain__text{
        // padding: 0 10px;
        // max-width: 360px;
        color: #332218;
        // line-height: 22px;
        font-weight: 800;
        font-size: 14px;
    }
    .block__title{
        color: #3a271c;
    }
    @media screen and (max-height:800px) {
        // height: 24rem;
        .plain__text {
            
            
            
        }
        .block__title{
           
            
        }
    }
}
.plate:nth-child(2){
    @media screen and (min-width:1200px) {
        transform: translate(0,30%);
    }
  
    
}

.plate:nth-child(4){
    @media screen and (min-width:1200px) {
        transform: translate(0,30%);
    }

    
}

.sup_txt4::after{

        position: absolute;
        background-image: url('../assets/Vector\ 31.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        content: "";
        display: block;
        height: 30rem;
        // top: 100%;
        width: 100%;
        // transform: rotate(deg);
      
      
}
.ca{
    text-decoration-color: orange;
    font-size: 13px;
    overflow-wrap: break-word;
}