@import 'mixins';
.main{
    position: relative;
        padding: 100px 0 200px 0;
        background-color: chocolate;
        @include media('max','md'){
            padding-bottom: 300px;
        }
        @include media('max','sm'){
            padding-bottom: 200px;
        }
        @include media('max','xs'){
            padding-bottom: 100px;
        }
}
.main__line{
    position: absolute;
    width: 7%;
    left: 3%;
    top: 50%;
    transform: translate(0,-50%);
    // z-index: 1;
    @media screen and (max-width:650px) {
        visibility: hidden;
    }
}
.block__image{
    max-width: 500px;
    border-radius: 50px;
    @include media('max','lg') {
        max-width: 400px;
    }
    @include media('max','md') {
        max-width: 300px;
    }
}
.block__text{
    max-width: 600px;
}



.vec{
    // position: absolute;
    // z-index: 0;
    // height: 65%;
    // width: 100%;
    // top: 100%;
    // margin-bottom: 50px;
   
}

.sup_txt{
    
    position: relative;
    // z-index: 10;
    margin-bottom: 190px;
    @include media('max','lg'){
        margin-bottom: 140px;
    }
    @include media('max','md'){
        margin-bottom: 90px;
    }
}
.sup_txt::after{
    position: absolute;
    background-image: url('../assets/Vector\ 30.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: 30rem;
    top: 100%;
    width: 100%;
}