
.news-ticker {
  margin-top: 400px;
    transform: rotate(-5deg);
    // margin: 200px 0 100px 0;
    font-size: 100px;
    width: 120%;
background-color: transparent;
    color: white;
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    // left: -5%;
    background-image: url("Vector 19.png"), url("Vector 18.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100px, 100vw 100px;
    background-position: 50.2% top, 0% bottom;
    height: 25rem;
    // transform: rotate();
  }
  
  /* Ticker content */
  .ticker-content {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 34s linear infinite;
  }
  
  /* Animation */
  @keyframes ticker {
    0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
  }
  
  .ticker-content span {
    padding: 0 50px;
  }

  // .up__img{
  //   position: absolute;
  //   top: 10%;
    
  //   width: 100vw;
  //   height: 100px;
  //   z-index: 10;
  // }
  // .down__img{
  //   min-width: 199%;
  //   height: 200px;
  //   position: absolute;
  //   // top: 100%;
  //   z-index: 10;
  // }